body {
  min-height: 200vh;
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}
.cardActionGuy {
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
}

.cardActionGuy:hover {
  transform: scale(1.1);
  z-index: 100;
}

.card-title:hover {
  color: teal !important;
}

.logo {
  font-weight: 300;
  padding-left: 10px;
}

img {
  opacity: 1 !important;
}

#javascipt-wall {
  height: 20px;
  width: 20px;
}

.thin-text {
  font-weight: 300;
  background: rgba(96, 125,139, 0.6);
  padding: 40px;
  border-radius: 10px;
}

.section-header {
  font-weight: 300;
}

.cta {
  font-weight: 300;
  text-shadow: 1px 1px black;
}

#force-height {
  height: 400px;
}

.contact-form {
  padding-top: 20px;
  border-radius: 5px;
}

.input-field label {
   color: white;
}

#bio-pic {
  border-radius: 50%;
}

#slyimage-chan {
  opacity: 0;
  transition: all .7s;
  transform: translateX(-170%) scale(.85);
}

 #slyimage-chan.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
 }


@media all and (max-width: 365px) {
  .logo {
    font-size: medium;
  }
}

 

 